.backToPackAndTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.backToPackAndTitle div {
    position: relative;
    bottom: 21px;
    left: 38%;
    transform: translate(-50%, 50%);
}

.titleBackToPacks {
    margin-left: 10px;
}

.packListHeading {
    font-size: 30px;
    font-weight: bold;
    overflow-wrap: break-word;
    display: block;
}

.inputButtonSection {
    display: flex;
    justify-content: space-between;
}

.footerPage {
    display: flex;
    height: 53px;
    margin-left: 10px;
    align-items: center;
}

.titleOfEmptyPack {
    height: 50%;
    text-align: center;
    position: relative
}

.titleOfEmptyPack p {
    color: #a5a5a5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}